.fs24{font-size:0.24rem;}
.fs28{font-size:0.28rem;}
.fs32{font-size:0.32rem;}
.fs36{font-size:0.36rem;}
.c-fff{color:#fff;}
.c-1a1a1a{color:#1a1a1a;}
.c-808080{color:#808080;}
.mt10{margin-top:0.1rem;}
.mt30{margin-top:0.3rem;}
.mt40{margin-top:0.4rem;}
.ml20{margin-left:0.2rem;}
.ml40{margin-left:0.4rem;}
.ml50{margin-left:0.5rem;}
.mb20{margin-bottom:0.2rem;}
.bg-fff{background-color:#fff;}/*body的背景为白色*/
/*头部*/
header{width:100%;padding:0 0.3rem;background-color:rgba(0,0,0,.9);line-height:0.8rem;position:fixed;top:0;left:0;text-align:center;z-index:50;}
header a.logo{display:block;height:0.8rem;width:2.51rem;}
header a.logo img{width:2.51rem;height:0.26rem;}
header a.navbox{display:block;width:0.36rem;height:0.8rem;}
header a.navbox img{width:0.36rem;height:0.28rem;}
header a.icon-back{display:block;width:0.36rem;height:0.8rem;}
header a.icon-back img{width:0.36rem;height:0.39rem;}
/*尾部*/
footer{padding:0.3rem 0;}
footer p{font-size:0.2rem;color:#808080;}
/*个人通和企业通公共样式*/
.tong-container h1{text-align:center;padding:0.4rem 0;font-weight:normal;color:#1a1a1a;}
.tong-container .function{display:block;width:6.9rem;margin:0 auto;position:relative;}
.tong-container .function h3,.tong-container .function p{color:#fff;line-height:1;}
.container{width:7.5rem;margin:0 auto;padding:0.8rem 0.3rem 0 0.3rem;}
.tong-common-container{padding:1.7rem 0 1.25rem;}
.tab-box,.xing-box .item .txt-content{padding:0 0.3rem;}
.tab-box{width:7.5rem;background-color:#fff;position:fixed;top:0.8rem;}
.tab-box .item{text-align:center;height:0.9rem;}
.tab-box .item span{display:inline-block;height:0.86rem;line-height:0.94rem;color:#808080;font-size:0.32rem;}
.tab-box .item .line{border-bottom:0.06rem solid #c9a96e;width:1.26rem;margin:0 auto;display:none;}
.tab-box .active span{color:#c9a96e;}
.tab-box .active .line{display:block;}
.xing-box .item{display:none;}
.xing-box .active{display:block;}
.xing-box .item .txt-content h2{color:#1a1a1a;font-size:0.32rem;font-weight:normal;line-height:1;padding:0.3rem 0 0.35rem;}
.xing-box .item .txt-content h3{font-weight:normal;line-height:1;padding:0.1rem 0;font-size:0.28rem;color:#808080;}
.xing-box .item .txt-content h3 label{color:#c9a96e;}
.xing-box .item .txt-content p{font-size:0.24rem;color:#808080;padding-top:0.35rem;line-height:1.5;}
.xing-box .item .txt-content .icon-box{padding-top:0.5rem;}
.xing-box .item .txt-content .icon-box .iconitem{width:1.725rem;float:left;text-align:center;}
.btn-box{background-color:#fff;height:1.2rem;width:100%;padding:0.15rem 0.3rem;box-shadow:0 -0.1rem 0.1rem #f1f1f1;position:fixed;bottom:0;left:0;text-align:center;}
.btn-box .btn{width:6.9rem;height:0.9rem;text-align:center;line-height:0.9rem;color:#fff;font-size:0.36rem;background-color:#00a5fa;}
.xing-box .item .txt-content p.fs28{font-size:0.28rem;}
.xing-box .item h4{font-size:0.28rem;color:#1a1a1a;line-height:1;}
.finance-xing-box .item .txt-content p{padding-top:0}
.finance-xing-box .item .txt-content p.txt-p{padding:0.4rem 0;}
.finance-xing-box .item .txt-content h4{padding-bottom:0.2rem;}
/*新闻中心*/
/*--------------------------集团新闻、媒体报道、资料专区*/
.newscenter-container{padding-bottom:0.3rem;}
.news-tab-box{box-shadow:0 0.1rem 0.1rem #f1f1f1;z-index:8;}
.news-tab-box .item{width:2.3rem;}
.newscenter-xing-box{padding:0 0.3rem;}
.newscenter-xing-box .news-content-box{display:block;padding:0.4rem 0 0.2rem;border-bottom:1px solid #dfdfdf;}
.newscenter-xing-box .news-content-box .img-box{width:1.5rem;}
.newscenter-xing-box .news-content-box .img-box img{width:1.5rem;height:1.5rem;}
.newscenter-xing-box .news-content-box .txt-box{width:5.1rem;margin-left:0.2rem;}
.newscenter-xing-box .news-content-box .txt-box h3{font-size:0.32rem;color:#1a1a1a;line-height:1.2;}
.newscenter-xing-box .news-content-box .txt-box p{font-size:0.28rem;color:#808080;line-height:1.2;padding:0.25rem 0;}
.newscenter-xing-box .news-content-box .txt-box h5{font-size:0.28rem;color:#ccc;text-align:right;line-height:1;}
.newscenter-xing-box .down-load{padding:0.3rem;}
.datasection .data-box{padding-top:0.4rem;}
.datasection .data-box .data-left{margin-left:-0.3rem;}
.datasection .data-box .data-left .nav-item{width:1.6rem;height:0.9rem;background-color:#f9f9f9;text-align:center;line-height:0.9rem;color:#808080;border-left:0.06rem solid #f9f9f9;font-size:0.24rem;}
.datasection .data-box .data-left .current{background-color:#fff;color:#1a1a1a;border-left:0.06rem solid #c9a96e;}
.datasection .data-box .data-right{min-height:7.5rem;width:5.3rem;}
.datasection .data-box .data-right .data-item{display:none;}
.datasection .data-box .data-right .data-active{display:block;}
.datasection .data-box .data-right .data-item .every-box{display:block;width:5.3rem;height:3.4rem;position:relative;margin-bottom:0.3rem;}
.datasection .data-box .data-right .data-item .every-box img{width:5.3rem;height:3.4rem;}
.datasection .data-box .data-right .data-item .every-box .txt-intro{color:#fff;height:0.6rem;line-height:0.6rem;background-color:rgba(0,0,0,.5);position:absolute;bottom:0;left:0;padding-left:0.2rem;font-size:0.24rem;width:5.3rem;}
.datasection .data-box .data-right .data-item .every-file{width:2.3rem;height:2.6rem;box-shadow:0 0 0.2rem #eee;text-align:center;border:1px solid #eee;float:left;margin:0 0.35rem 0.3rem 0;}
.datasection .data-box .data-right .data-item .every-file img{width:0.62rem;height:0.62rem;margin:0.4rem 0 0.16rem;}
.datasection .data-box .data-right .data-item .every-file p img{width:0.17rem;height:0.17rem;margin-top:0;}
.datasection .data-box .data-right .data-item .every-file span{display:block;margin-top:-0.06rem;font-size:0.24rem;color:#808080;}
.datasection .data-box .data-right .news-release-content h2.news-release-title{text-align:center;font-size:0.32rem;color:#1a1a1a;}
.datasection .data-box .data-right .news-release-content p.news-release-p{font-size:0.24rem;color:#808080;margin-bottom:0.42rem;line-height:1.5;}
/*--------------------------新闻详情*/
.news-details-container{padding:0.8rem 0 1.4rem 0;}
.news-details-container h2,.news-details-container p,.news-details-container img{margin-top:0.45rem;line-height:1.5;}
.news-details-container img{width:7.5rem;height:2.8rem;}
.news-details-container h5{font-size:0.2rem;color:#808080;text-align:center;padding-top:0.05rem;}
.news-details-container p{padding:0 0.3rem;font-size:0.24rem;color:#808080;}
/*走进星航*/
.enter-common-container h2{font-size:0.32rem;color:#1a1a1a;line-height:1;padding:0.45rem 0;}
.enter-common-container h2 span{font-size:0.24rem;color:#ccc;margin-left:0.2rem;}
/*--------------------------弹出层*/
.enter-alert-details{position:fixed;left:0;right:0;top:0;bottom:0;background:rgba(255,255,255,0.9);color:#1a1a1a;text-align:center;}
.enter-alert-details p{font-size:0.24rem;width:7.5rem;margin:0 auto;}
/*--------------------------个人通、企业通弹出层*/
.apply-box{position:fixed;left:0;right:0;top:0;bottom:0;background:#fff;color:#1a1a1a;z-index:55;}
.apply-box h2{font-size:0.32rem;text-align:center;position:relative;padding:0.4rem 0 0.2rem;line-height:1;}
.apply-box h2 img{width:0.28rem;height:0.28rem;position:absolute;top:0.4rem;right:0;}
.apply-box form{padding:0 0.5rem;font-size:0.24rem;width:7.5rem;margin:0 auto;}
.apply-box form table tr td label{display:inline-block;margin-top:0.3rem;}
.apply-box form table tr td input[type="text"],.apply-box form table tr td input[type="radio"],.apply-box form table tr td input[type="checkbox"],.apply-box form table tr td select,.apply-box form table tr td textarea{margin:0.3rem 0 0 0.5rem;-webkit-appearance:none;}
.apply-box form table tr td input[type="text"],.apply-box form table tr td select{width:4.5rem;height:0.62rem;line-height:0.62rem;font-size:0.24rem;border:1px solid #efefef;padding:0 0.2rem;}
.apply-box form table tr td textarea{width:4.5rem;height:1.2rem;font-size:0.24rem;border:1px solid #efefef;padding:0.05rem 0.2rem;}
.apply-box form table tr td input[type="submit"]{width:4.5rem;height:0.7rem;color:#fff;background-color:#00a5fa;border:none;outline:none;margin:0.3rem 0;-webkit-appearance:none;}
.apply-box form p{color:#808080;font-size:0.2rem;}
.apply-box form table tr td label span{color:#00a5fa;}
/*导航菜单*/
html,body{width:100%;height:100%;}
.nav-menu{width:100%;height:100%;background-color:#2f2f2f;}
.nav-menu header{background-color:#2f2f2f;}
.nav-menu .content{text-align:center;}
.nav-menu .content ul{margin:0 auto;width:4rem;padding:1.55rem 0 0.8rem;}
.nav-menu .content ul li a{display:block;width:4rem;height:1rem;line-height:1rem;font-size:0.32rem;color:#fff;text-align:center;border-bottom:1px solid #6e6e6e;}
.nav-menu .content ul .border-bottom-none{border-bottom:none;}
.nav-menu .content img{width:0.44rem;height:0.44rem;}

/*过渡淡入淡出动画*/
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

/*添加一些文本输入错误样式*/
.input.is-danger, .textarea.is-danger {
    /*border-color: #ff3860;*/
    border: 0.01rem solid #ff3860 !important;
}